<h3>Add new word</h3>

<input ng-model="$ctrl.word" class="form-control" placeholder="word"/>
<input ng-model="$ctrl.category" class="form-control" placeholder="category"/>

<button class="btn btn-success btn-sm" id="add" ng-click="$ctrl.addNewWord()">
    <span class="glyphicon glyphicon-plus"></span>
</button>

<!--
<div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Word added</strong>
</div>

<div class="alert alert-info">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Word is already there</strong>
</div>

-->