<button class="btn btn-danger btn-sm" id="reset" ng-click="$ctrl.resetPlayedWords()">reset played words</button>

<div class="row">
    <div class="col-sm-12">
        <h1>Draw: <strong>{{$ctrl.word.word}}</strong></h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-primary btn-sm" id="getNewWord" ng-click="$ctrl.getNewWord()">next word
        </button>
        <button class="btn btn-success btn-sm" id="success" ng-click="$ctrl.getNewWord()">success</button>
        <button class="btn btn-danger btn-sm" id="failed" ng-click="$ctrl.getNewWord()">failed</button>
    </div>
</div>
<br>